<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Graphic</title>
</head>
<body>
    <h1 class="title">How to Cook Juicy Chicken</h1>
    <div class="page">
        <div class="section" id="section1">
            <div class="box" id="box1">
                <h2>1. Thin the Meat</h2>
                <p>A uniform thickness allows the meat to cook evenly. This can be done by cutting the chicken in half or by pounding it into a thinner shape.</p>
            </div>
            <div class="box" id="box4">
                <p>Thinning the meat will also help reduce the cooking time thus allowing less water to evaporate out of the chicken.</p>
            </div>
        </div>
        <div class="section" id="section2">
            <div class="box" id="box2">
                <h2>2. Season</h2>
                <p>Season with salt and flavor with any spices, marinades, sauces, or herb mixes. Salt helps the chicken retain moisture and other spices help add flavor.</p>
            </div>
            <div class="box" id="box5">
                <p>A simple Italian seasoning consists of a blend of basil, oregano, rosemary, and thyme.</p>
            </div>
        </div>
        <div class="section" id="section3">
            <div class="box" id="box3">
                <h2>3. Cook to 155 &#8457 Internal</h2>
                <p>Cook at a high heat until the chicken reaches 155 &#8457 in the middle. Let rest for one minute without cutting. A high heat helps the chicken develop a flavorful crust that will secure the inner juices.</p>
            </div>
            <div class="box" id="box6">
                <p>Allowing the meat to rest for one minute at 155 &#8457 internal kills the same amount of bacteria as cooking to 165 &#8457.</p>
            </div>
        </div>
    </div>
</body>
</html>