<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles/calories.css">

    <title>Calorie Tracker</title>
</head>
<body>
    <h1>Calorie Tracker</h1>
    <p>Daily Calorie Goal: <span id="calorie-goal"></span></p>
    <button id="change-btn" onclick="showItem('setCalorieGoal'); hideItem('change-btn')">Change Goal</button>
    <div id="setCalorieGoal">
        <label for="goal-input">Daily Calorie Goal</label>
        <input id="goal-input" type="number" min="1" max="35000" value="2000">
        <button onclick="tracker.updateCalorieGoal();">Add</button>
        <a onclick="showItem('change-btn'); hideItem('setCalorieGoal');">Cancel</a>
    </div>
    <div class="calorie-tracker">
        <h2>Today's Calories</h2>
        <p>Calories remaining <span id="calories-remaining"></span></p>
        <div class="food-items"></div>
        <div id="add-food-item">
            <label for="food-name">Add Item</label>
            <input id="food-name" class="add-food-item" type="text" placeholder="Name">
            <label for="food-calories">Calories: </label>
            <input id="food-calories" class="add-food-item" type="number" max="35000" min="0" value="0">
            <button onclick="tracker.addFoodItem();">Add</button>
        </div>
    </div>
    <script src="../static/javascript/calories.js"></script>
</body>
</html>